body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

button {
  margin-top: 20px;
  height: 30px;
}

.board {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1;
  font-size: 24px;
  font-weight: bold;
}
.empty {
  border: 1px solid #000;
  display: grid;
  place-items: center;
}

.cell {
  border: 1px solid #000;
  display: grid;
  place-items: center;
  transition-duration: 0.3s;
  &:hover {
    background: #000;
    color: white;
  }
}
